# Importing and Transforming Data Exercises

#### Exercise 1
List all example files available with the readr library.

In [40]:
library(tidyverse)
readr_example()

[1] "challenge.csv"     "epa78.txt"         "example.log"
[4] "fwf-sample.txt"    "massey-rating.txt" "mtcars.csv"
[7] "mtcars.csv.bz2"    "mtcars.csv.zip"

#### Exercise 2
Read the mtcars.csv file.

In [4]:
mtcars <- read_csv(readr_example("mtcars.csv"))

Parsed with column specification:
cols(
  mpg = col_double(),
  cyl = col_double(),
  disp = col_double(),
  hp = col_double(),
  drat = col_double(),
  wt = col_double(),
  qsec = col_double(),
  vs = col_double(),
  am = col_double(),
  gear = col_double(),
  carb = col_double()
)

#### Exercise 3
Read the first 10 lines from the mtcars.csv file.

In [16]:
mtcars[1:10,]

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4

#### Exercise 4
Read the example.log file.

In [5]:
exampleLog <- read_log(readr_example("example.log"))

Parsed with column specification:
cols(
  X1 = col_character(),
  X2 = col_logical(),
  X3 = col_character(),
  X4 = col_character(),
  X5 = col_character(),
  X6 = col_double(),
  X7 = col_double()
)

#### Exercise 5
List all sheets in readxl_example("datasets.xlsx").

In [17]:
library(readxl)
xlsx_example <- readxl_example("datasets.xlsx")
excel_sheets(xlsx_example)

[1] "iris"     "mtcars"   "chickwts" "quakes"

#### Exercise 6
Read data from the last sheet.

In [18]:
read_excel(xlsx_example, sheet = 4)

     lat    long   depth mag stations
1    -20.42 181.62 562   4.8 41
2    -20.62 181.03 650   4.2 15
3    -26.00 184.10  42   5.4 43
4    -17.97 181.66 626   4.1 19
5    -20.42 181.96 649   4.0 11
6    -19.68 184.31 195   4.0 12
7    -11.70 166.10  82   4.8 43
8    -28.11 181.93 194   4.4 15
9    -28.74 181.74 211   4.7 35
10   -17.47 179.59 622   4.3 19
11   -21.44 180.69 583   4.4 13
12   -12.26 167.00 249   4.6 16
13   -18.54 182.11 554   4.4 19
14   -21.00 181.66 600   4.4 10
15   -20.70 169.92 139   6.1 94
16   -15.94 184.95 306   4.3 11
17   -13.64 165.96  50   6.0 83
18   -17.83 181.50 590   4.5 21
19   -23.50 179.78 570   4.4 13
20   -22.63 180.31 598   4.4 18
21   -20.84 181.16 576   4.5 17
22   -10.98 166.32 211   4.2 12
23   -23.30 180.16 512   4.4 18
24   -30.20 182.00 125   4.7 22
25   -19.66 180.28 431   5.4 57
26   -17.94 181.49 537   4.0 15
27   -14.72 167.51 155   4.6 18
28   -16.46 180.79 498   5.2 79
29   -20.97 181.47 582   4.5 25
30   -19.84 182.37 328   4.4 17
...  ...    ...    ...   ... ...
971  -25.79 182.38 172   4.4  14
972  -23.75 184.50  54   5.2  74
973  -24.10 184.50  68   4.7  23
974  -18.56 169.05 217   4.9  35
975  -23.30 184.68 102   4.9  27
976  -17.03 185.74 178   4.2  32
977  -20.77 183.71 251   4.4  47
978  -28.10 183.50  42   4.4  17
979  -18.83 182.26 575   4.3  11
980  -23.00 170.70  43   4.9  20
981  -20.82 181.67 577   5.0  67
982  -22.95 170.56  42   4.7  21
983  -28.22 183.60  75   4.9  49
984  -27.99 183.50  71   4.3  22
985  -15.54 187.15  60   4.5  17
986  -12.37 166.93 291   4.2  16
987  -22.33 171.66 125   5.2  51
988  -22.70 170.30  69   4.8  27
989  -17.86 181.30 614   4.0  12
990  -16.00 184.53 108   4.7  33
991  -20.73 181.42 575   4.3  18
992  -15.45 181.42 409   4.3  27
993  -20.05 183.86 243   4.9  65
994  -17.95 181.37 642   4.0  17
995  -17.70 188.10  45   4.2  10
996  -25.93 179.54 470   4.4  22
997  -12.28 167.06 248   4.7  35
998  -20.13 184.20 244   4.5  34
999  -17.40 187.80  40   4.5  14
1000 -21.59 170.56 165   6.0 119

#### Exercise 7
Load the dplyr package. Install and load the AER package and run the command data("Fertility") which loads the dataset Fertility to your workspace. Take a glimpse() at the data.

In [34]:
install.packages("AER")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [35]:
library(AER)
library(dplyr)

In [55]:
data("Fertility")
glimpse(Fertility)

Rows: 254,654
Columns: 8
$ morekids <fct> no, no, no, no, no, no, no, no, no, no, yes, no, no, no, no,…
$ gender1  <fct> male, female, male, male, female, male, female, male, female…
$ gender2  <fct> female, male, female, female, female, female, male, male, ma…
$ age      <int> 27, 30, 27, 35, 30, 26, 29, 33, 29, 27, 28, 28, 35, 34, 32, …
$ afam     <fct> no, no, no, yes, no, no, no, no, no, no, no, no, no, no, no,…
$ hispanic <fct> no, no, no, no, no, no, no, no, no, no, no, no, no, no, no, …
$ other    <fct> no, no, no, no, no, no, no, no, no, no, no, no, no, no, no, …
$ work     <int> 0, 30, 0, 0, 22, 40, 0, 52, 0, 0, 0, 52, 52, 52, 8, 7, 0, 40…

#### Exercise 8
Select rows 35 to 50 and print to console its age and work entry.

In [58]:
Fertility[35:50,c("age", "work")]

   age work
35 28  20
36 33  12
37 32   0
38 26  52
39 32  52
40 28   0
41 32  40
42 35   0
43 33   0
44 32  42
45 29   0
46 29  52
47 31   0
48 30  51
49 28   0
50 29   0

#### Exercise 9
Select the last row in the dataset and print to console.

In [69]:
#Fertility[254654,]
slice_tail(Fertility)

  morekids gender1 gender2 age afam hispanic other work
1 yes      female  female  35  no   no       no    0

#### Exercise 10
Count how many women proceeded to have a third child.

In [82]:
moreKids<-count(Fertility,morekids)
filter(moreKids, morekids=="yes")

  morekids n
1 yes      96912

#### Exercise 11
There are four possible gender combinations for the first two children. Which is the most common?

In [77]:
genderCombo <-count(Fertility,gender1,gender2, sort=TRUE)
slice_head(genderCombo)

  gender1 gender2 n
1 male    male    67799