# Mod 9 - NuPym

For n-dimensional array tools; can integrate C, C++, etc; linear algebra, random number capability

In [6]:
import numpy as np
np.version.version

'1.18.5'

Conda commands cheat sheet: https://docs.conda.io/projects/conda/en/4.6.0/_downloads/52a95608c49671267e40c689e0bc00ca/conda-cheatsheet.pdf

In [7]:
np? #provides documentation

SyntaxError: invalid syntax (<ipython-input-7-eb761f587eac>, line 1)

In [8]:
np.<TAB> # for all namespace

SyntaxError: invalid syntax (<ipython-input-8-cafe7d82c7d0>, line 1)

Dimensions are called axes

3D space [1,2,1] has 1 axis and that axis has 3 elements in it so a length of 3

ndarray.function is the 1d array, not the same as array object

In [12]:
import numpy as np
a = np.arange(15).reshape(3,5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [13]:
a.shape

(3, 5)

In [14]:
a.ndim

2

In [15]:
a.dtype.name

'int64'

In [16]:
a.itemsize

8

In [17]:
a.size

15

In [18]:
type(a)

numpy.ndarray

In [20]:
b = np.array([6,7,8])
b

array([6, 7, 8])

In [21]:
type(b)

numpy.ndarray

In [22]:
b.size

3

In [23]:
b.shape

(3,)

## Array Creation

In [26]:
#creating an array from regular Python list or tuple

a = np.array([2,3,4])
a

array([2, 3, 4])

In [27]:
b = np.array([1.2,3.5,5.1])
b.dtype

dtype('float64')

In [29]:
c = np.array([(1.5,2,3),(4,5,6)]) # array transforms seequences into 2d arrays, sequences of sequences of sequences into 3d
c

array([[1.5, 2. , 3. ],
       [4. , 5. , 6. ]])

In [31]:
#specify type of array at creation
d = np.array([[1,2],[3,4]], dtype=complex)
d

array([[1.+0.j, 2.+0.j],
       [3.+0.j, 4.+0.j]])

Array elements are originally unknown, but size is know so can create arrays with initial placeholder content

In [32]:
#zero placeholder
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [33]:
#one place holder
np.ones((2,3,4), dtype=np.int16) #dtype can also be specified

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]], dtype=int16)

In [41]:
#uninitialized with random content and depends on state of mem
# by default, dtype is float64
np.empty((2,3))

array([[2.0e+000, 2.0e+000, 3.0e-323],
       [2.0e+000, 2.0e+000, 1.5e-323]])

Sequence of numbers, use arange which is like range in Python but returns an array

In [42]:
np.arange(10,30,5)

array([10, 15, 20, 25])

In [43]:
np.arange(0,2,0.3) #it accepts float arguments

array([0. , 0.3, 0.6, 0.9, 1.2, 1.5, 1.8])

However, when using floating point arguments, you can't predict the number of elements obtained, due to finite floating point precision. For this reason, you should use linspace to receive the number of elements we want instead of the step:

In [44]:
np.linspace(0,2,9)

array([0.  , 0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  ])

In [48]:
import math
x = np.linspace(0,2*math.pi,100)
f=np.sin(x)

## Printing Arrays

Prints similar to nested list but with following layout:

- last axis is printed from left to right
- second to last from top to bottom
- rest printed from top to bottom with each slice separated from next by empty line

1D are printed as rows, 2D are matrices, and 3D are list of matrices

In [50]:
a = np.arange(6)
print(a)

[0 1 2 3 4 5]

In [52]:
b = np.arange(12).reshape(4,3) #2d array
print(b)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [53]:
c = np.arange(24).reshape(2,3,4) #3d array - 2 matrices which 3 rows each and 4 columns/elements in each row
print(c)

[[[ 0  1  2  3]
  [ 4  5  6  7]
  [ 8  9 10 11]]

 [[12 13 14 15]
  [16 17 18 19]
  [20 21 22 23]]]

If array is too large, NumPy will skip central part and print only corners

In [55]:
print(np.arange(10000))

[   0    1    2 ... 9997 9998 9999]

You can force numpy to print entire array using set_printoptions

In [56]:
import sys #these will force numpy to print everything
np.set_printoptions(threshold=sys.maxsize)

## Basic operations

Arithmetic operators on arrays apply elementwise ie no need for loops! A new array is created and filled with the result.

In [57]:
a = np.array([20,30,40,50])
b = np.arange(4)
b

array([0, 1, 2, 3])

In [58]:
c = a-b
c

array([20, 29, 38, 47])

In [59]:
b ** 2

array([0, 1, 4, 9])

In [60]:
10*np.sin(a)

array([ 9.12945251, -9.88031624,  7.4511316 , -2.62374854])

In [61]:
a < 35 # can also use comparison operator!

array([ True,  True, False, False])

Matrix product is performed with @ operator or dot function/method

Matrix multiplication - takes 2 matrices as inputs and produces single matrix. Multiply rows of 1 matrix to column of 2nd matrix. Number of rows of 1st matrix = cols in 2nd matrix

In [63]:
# ELEMENTWISE OPERATOR

A = np.array([[1,1],
              [0,1]])
B = np.array([[2,0],
              [3,4]])
A * B

array([[2, 0],
       [0, 4]])

In [64]:
# MATRIX MULTIPLICATION
A @ B
A.dot(B)

array([[5, 4],
       [3, 4]])

Some operations modify existing array rather than create a new one

In [73]:
rg = np.random.default_rng(1)     # create instance of default random number generator
a = np.ones((2,3), dtype=int)
b = rg.random((2,3))
a *= 3
print(a)
print(b)

[[3 3 3]
 [3 3 3]]
[[0.51182162 0.9504637  0.14415961]
 [0.94864945 0.31183145 0.42332645]]

In [71]:
b += a
b

array([[3.51182162, 3.9504637 , 3.14415961],
       [3.94864945, 3.31183145, 3.42332645]])

In [69]:
a += b # b is not auto changed to integer type

UFuncTypeError: Cannot cast ufunc 'add' output from dtype('float64') to dtype('int64') with casting rule 'same_kind'

When operating with arrays of diff types, type of resulting array corresponds to the more general or precises one (a behavior known as upcasting)

In [75]:
import math
a = np.ones(3, dtype = np.int32)
b = np.linspace(0,math.pi,3)
b.dtype.name

'float64'

In [77]:
c = a+b
c

array([1.        , 2.57079633, 4.14159265])

In [78]:
c.dtype.name

'float64'

In [79]:
d = np.exp(c*1j)
d

array([ 0.54030231+0.84147098j, -0.84147098+0.54030231j,
       -0.54030231-0.84147098j])

In [80]:
d.dtype.name

'complex128'

### unary operation

an operation with one operand (single input).

In [82]:
a = rg.random((2,3))
a

array([[0.32973172, 0.7884287 , 0.30319483],
       [0.45349789, 0.1340417 , 0.40311299]])

In [83]:
a.sum()

2.412007822394087

In [84]:
a.min()

0.13404169724716475

In [85]:
a.max()

0.7884287034284043

These operations apply to the array as though it were a list of numbers, regardless of shape. But you can specify the axis paramter you can apply an operation along the specified axis of an array:

In [86]:
b = np.arange(12).reshape(3,4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [87]:
b.sum(axis=0)

array([12, 15, 18, 21])

In [88]:
b.min(axis=1)

array([0, 4, 8])

In [100]:
b.cumsum(axis=0)# cumulative sum along each row???

array([[ 0,  1,  2,  3],
       [ 4,  6,  8, 10],
       [12, 15, 18, 21]])

## Universal Functions

Familiar math funcs ie sin, cos, exp

In [101]:
B = np.arange(3)
B

array([0, 1, 2])

In [102]:
np.exp(B) #to the e as default

array([1.        , 2.71828183, 7.3890561 ])

In [103]:
np.sqrt(B)

array([0.        , 1.        , 1.41421356])

In [104]:
C = np.array([2.,-1.,4.])

In [105]:
np.add(B,C)

array([2., 0., 6.])

## Indexing, Slicing, Iterating

1D arrays indexed, sliced, and iterated over like lists and other Python sequences

In [106]:
a = np.arange(10)**3
a

array([  0,   1,   8,  27,  64, 125, 216, 343, 512, 729])

In [107]:
a[2]

8

In [108]:
a[2:5]

array([ 8, 27, 64])

In [109]:
a[:6:2] = 1000
a

array([1000,    1, 1000,   27, 1000,  125,  216,  343,  512,  729])

In [110]:
a[::-1] # reverses a

array([ 729,  512,  343,  216,  125, 1000,   27, 1000,    1, 1000])

In [111]:
for i in a:
    print(i**(1/3.))

9.999999999999998
1.0
9.999999999999998
3.0
9.999999999999998
4.999999999999999
5.999999999999999
6.999999999999999
7.999999999999999
8.999999999999998

Multidimensional arrays can have 1 index per axis. These indices are given in a tuple separated by commas:

In [112]:
def f(x,y):
    return 10*x+y

In [113]:
b = np.fromfunction(f, (5,4), dtype=int)
b

array([[ 0,  1,  2,  3],
       [10, 11, 12, 13],
       [20, 21, 22, 23],
       [30, 31, 32, 33],
       [40, 41, 42, 43]])

In [114]:
b[2,3]

23

In [115]:
b[0:5, 1] #each row in second col of b

array([ 1, 11, 21, 31, 41])

In [116]:
b[:,1] #like previous

array([ 1, 11, 21, 31, 41])

In [117]:
b[1:3, :] #each col in 2nd and 3rd row of b

array([[10, 11, 12, 13],
       [20, 21, 22, 23]])

When fewer indices are provided than the number of axes, the missing indices are considered complete slices:

In [118]:
b[-1] #the last row, equivalent to b[-1,:]

array([40, 41, 42, 43])

The expression within brackets in b[i] is treated as an i followed by as many instances of : as needed to represent the remaining axes. NumPy also allows you to write this using dots as b[i,...], in which dots rep as many colons as needed to produced a complete indexing tuple. IE if x is an array with 5 axes, then

- x[1,2,...] is = to x[1,2,:,:,:]
- x[...,3] is = to x[:,:,:,:,3] and
- x[4,...,5,:] is = to x[4,:,:,5,:]

Numpy arrays have attribute shape that returns a tuple with each index having the number of corresponding elements

In [122]:
arr = np.array([[1,2,3,4], [5,6,7,8]])
print(arr.shape)

(2, 4)

In [125]:
c = np.array([[[0,1,2],
                [10, 12, 13]],
                 [[100,101,102],
                 [110,112,113]]])
c

array([[[  0,   1,   2],
        [ 10,  12,  13]],

       [[100, 101, 102],
        [110, 112, 113]]])

In [126]:
c.shape

(2, 2, 3)

In [127]:
c[1,...] #same as c[1,:,:] or c[1]

array([[100, 101, 102],
       [110, 112, 113]])

In [128]:
c[...,2] #same as c[:,:,2]

array([[  2,  13],
       [102, 113]])

Iterating over multid arrays is done with respect TO FIRST AXIS:

In [129]:
for row in b:
    print(row)

[0 1 2 3]
[10 11 12 13]
[20 21 22 23]
[30 31 32 33]
[40 41 42 43]

In [130]:
for row in c:
    print(row)

[[ 0  1  2]
 [10 12 13]]
[[100 101 102]
 [110 112 113]]

However, if you want to perform an op on EACH ELEMENT in the array, use flat attribute which is an interator over all elements of array:

In [131]:
for element in b.flat:
    print(element)

0
1
2
3
10
11
12
13
20
21
22
23
30
31
32
33
40
41
42
43

## Shape Manipulation

Shape can be changed with various commands. All return a MODIFIED ARRAY but do NOT CHANGE THE OG ARRAY

In [133]:
a

array([1000,    1, 1000,   27, 1000,  125,  216,  343,  512,  729])

In [134]:
a.ravel() # returns the array, flattened

array([1000,    1, 1000,   27, 1000,  125,  216,  343,  512,  729])

In [137]:
a.reshape(5,2) #returns array with modified shape

array([[1000,    1],
       [1000,   27],
       [1000,  125],
       [ 216,  343],
       [ 512,  729]])

In [138]:
a.T #returns the array, transposed

array([1000,    1, 1000,   27, 1000,  125,  216,  343,  512,  729])

The order of elements in array resulting from ravel() is normally "C-style", rightmost index changes the fastest so after a[0,0] is a[0,1]