# Mod 10 - Pandas

In [2]:
import pandas as pd
import numpy as np
pd.__version__

'1.0.5'

## Series Object

1d array of indexed data

wraps both a sequence of values and a sequence of indices, which can be accessible with values and index attributes

In [4]:
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
#data[1]
data[1:3]

1    0.50
2    0.75
dtype: float64

In [9]:
#series can define own indices
data = pd.Series([0.25,0.5,0.75,1.0], index=["a", "b", "c","d"])
data["b"]

0.5

In [10]:
#series can be populated by a dictionary
# series are more efficient than dictionaries

population_dict = {'California': 356773,
                      'Texas': 25466,
                      'Florida': 12244,
                      'Illinois': 1333,}

population = pd.Series(population_dict)
population

California    356773
Texas          25466
Florida        12244
Illinois        1333
dtype: int64

In [11]:
population["California"]

356773

In [12]:
#can do array-style operations like slicing
population["California":"Illinois"] #INCLUSOVE

California    356773
Texas          25466
Florida        12244
Illinois        1333
dtype: int64

In [26]:
data = pd.Series([0.25,0.5,0.75,1.0],
                    index=[2,5,3,7])
data[0:4] # calling positions, not the indices; only for int, floats excluded

2.0    0.25
5.0    0.50
3.0    0.75
7.7    1.00
dtype: float64

### Constructing a Series obj

pd.Series(data, index=index)

data can be: list, NumPy array, scalar to fill the specified index, dictionary, index can be explicitly set if different result is preferred

In [13]:
pd.Series(5, index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [14]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3,2])
#only populated with explicitly id-ed keys

3    c
2    a
dtype: object

## DataFrame Object

DataFrame: 2d array with flexible row indices and row col names or a sequence of aligned Series objects (aligned means they share the same index

In [15]:
area_dict = {'California': 532342,
                'Texas': 5667713,
                'New York': 12341,
                'Florida': 125421,
                'Illinois': 135532}
area = pd.Series(area_dict)
area

California     532342
Texas         5667713
New York        12341
Florida        125421
Illinois       135532
dtype: int64

In [18]:
states = pd.DataFrame({'population': population,
                          'area': area})
states

            population     area
California    356773.0   532342
Florida        12244.0   125421
Illinois        1333.0   135532
New York           NaN    12341
Texas          25466.0  5667713

In [19]:
print(states.index)
print(states.columns)

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')
Index(['population', 'area'], dtype='object')

### DataFrame as specialized dictionary

Can be thought of as a specialization of a dictionary. 

DataFrame maps a col name to a Series of col data

In [24]:
states['area']

California     532342
Florida        125421
Illinois       135532
New York        12341
Texas         5667713
Name: area, dtype: int64

Therefore, returning data[0] will return FIRST ROW.
data['col0'] will return first col

### Constructing DataFrame objects

can be constructed from: collection of Series obj (single-col DF from single Series); list of dicts; dictionary of Series obj; 2D NumPy array; from NumPy structured array

In [27]:
#from single Series obj (population)
pd.DataFrame(population, columns=['population'])

            population
California      356773
Texas            25466
Florida          12244
Illinois          1333

In [29]:
#from list of dicts
data = [{'a':i,'b':2*i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [30]:
#missing values are filled with NaN
pd.DataFrame([{'a':1, 'b':2}, {'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [31]:
#from a dictionary of Series objs
pd.DataFrame({'pop': population,
                'area': area})

                 pop     area
California  356773.0   532342
Florida      12244.0   125421
Illinois      1333.0   135532
New York         NaN    12341
Texas        25466.0  5667713

In [33]:
#from 2d numpy array with given col and index/row name
pd.DataFrame(np.random.rand(3,2),
                columns=['foo', 'bar'],
                index=['a','b','c'])

        foo       bar
a  0.546371  0.667442
b  0.156354  0.579939
c  0.511793  0.614147

In [34]:
#from numpy structured array
A = np.zeros(3,dtype=[('A','i8'),('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [35]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## Index Object

Can be immutable array or an ordered set (technically a multi-set since Index obj can contain repeated values).

In [36]:
ind = pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### As immutable array

operates like array; can use std Python indexing notation

In [37]:
ind[1]

3

In [38]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [39]:
#can also have many attributes similar to numpy arrays
print(ind.size,ind.shape,ind.ndim,ind.dtype)

5 (5,) 1 int64

IMMUTABLE THEREFORE CANNOT BE MODIFIED VIA NORMAL MEANS

ind[1] = 0 returns error


### as an ordered set

met to facilitate operations such as joins across datasets, depending on set arithmetic (union, intersection, differences, other combos)

In [40]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])

In [41]:
#intersection
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [42]:
#union
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [43]:
#symmertic difference
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

# Data Manipulation with Pandas

## Data Indexing and Selection

### Data Selection in Series

In [44]:
# series as dictionary
data = pd.Series([0.25,0.5,0.75,1.0], index=["a", "b", "c","d"])
'a' in data

True

In [45]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [46]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [47]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [48]:
#series as 1D array
data['a':'c'] #slicing by explicit index

a    0.25
b    0.50
c    0.75
dtype: float64

In [49]:
data[0:2] #slicing by implicit integer index

a    0.25
b    0.50
dtype: float64

In [50]:
data[(data > 0.3) & (data < 0.8)] #masking

b    0.50
c    0.75
dtype: float64

In [51]:
#fancy indexing
data[['a','e']]

a    0.25
e    1.25
dtype: float64

### Indexers: loc, iloc, and ix

Because integer index causes confusion with slicing (since it uses implicit index when slicing) then using special indexer attributes helps

In [53]:
# loc allows indexing and slicing that always ref the explicit index
data = pd.Series(['a','b','c'], index=[1,3,5])

data.loc[1]

'a'

In [54]:
data.loc[1:3]

1    a
3    b
dtype: object

In [55]:
#iloc allows indexing and slicing that always references implicit Python-style index
data.iloc[1]

'b'

In [56]:
data.iloc[1:3]

3    b
5    c
dtype: object

ix is hybrid of 2 and more used for DataFrames and equivalent to std []-based indexing.

"Explicit is better than implicit." Therefore, use loc and iloc to make code more readable.

### Data Selection in DataFrame

In [57]:
#DataFrame as dict

area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [58]:
data['pop']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: pop, dtype: int64

In [59]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [60]:
data.area is data['area'] #access same col

True

Avoid column assignment via attribute

Do this: data['pop'] = z 

NOT: data.pop = z

In [62]:
#adding new col
data['density'] = data['pop']/data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [63]:
# DataFrame as 2D array

data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [64]:
#transpore full DataFrame to swap rows and cols
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [66]:
data.values[0] #accesses a row

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [67]:
data['area'] #accesses a col

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [71]:
#use iloc - uses implicit index
data.iloc[:3,:2] #first 3 rows, first 2 col

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [70]:
#use loc and use explicit index and col names
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [73]:
#ix uses hybrid - removed from version 1.0.0
#data.ix[:3, :'pop']

In [74]:
data.loc[data.density > 100,['pop','density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [76]:
#can use iloc and loc to set values
data.iloc[0,2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

## Additional indexing conventions

Indexing refers to COLUMNS; slicing refers to ROWS

Masking operations are also interpreted row-wise instead of column-wise

In [81]:
data['Florida':'Illinois'] #refers to rows by index

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [80]:
data[1:3] #refer to rows by number rather than by index

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

In [77]:
data[data.density > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121