# Intro to R Homework

### Creating vectors/factors and dataframes

We are performing RNA-Seq on cancer samples being treated with three different types of treatment (A, B, and P). You have 12 samples total, with 4 replicates per treatment. Write the R code you would use to construct your metadata table as described below.

Create the vectors/factors for each column (Hint: you can type out each vector/factor, or if you want the process go faster try exploring the rep() function).

Put them together into a dataframe called meta.

Use the rownames() function to assign row names to the dataframe (Hint: you can type out the row names as a vector, or if you want the process go faster try exploring the paste() function).
Your finished metadata table should have information for the variables sex, stage, treatment, and myc levels:

 	sex	stage	treatment	myc
    
sample1	M	I	A	2343

sample2	F	II	A	457

sample3	M	II	A	4593

sample4	F	I	A	9035

sample5	M	II	B	3450

sample6	F	II	B	3524

sample7	M	I	B	958

sample8	F	II	B	1053

sample9	M	II	P	8674

sample10	F	I	P	3424

sample11	M	II	P	463

sample12	F	II	P	5105

In [79]:
meta <- data.frame(
    sex = rep(c("M", "F"), 6),
    stage = rep(c("I", "II", "II"), 4),
    treatment = rep(c("A", "B", "P"), each=4),
    myc = c(2343, 457, 4593, 9035,3450,3524,958,1053,8674,3424,463,5105)
)
row.names(meta)<-paste("sample",row.names(meta), sep="")
print(meta)

         sex stage treatment  myc
sample1    M     I         A 2343
sample2    F    II         A  457
sample3    M    II         A 4593
sample4    F     I         A 9035
sample5    M    II         B 3450
sample6    F    II         B 3524
sample7    M     I         B  958
sample8    F    II         B 1053
sample9    M    II         P 8674
sample10   F     I         P 3424
sample11   M    II         P  463
sample12   F    II         P 5105

### Subsetting vectors/factors and dataframes

Using the meta data frame from question #1, write out the R code you would use to perform the following operations (questions DO NOT build upon each other):

return only the treatment and sex columns using []:

return the treatment values for samples 5, 7, 9, and 10 using []:

use filter() to return all data for those samples receiving treatment P:

use filter()/select()to return only the stage and treatment columns for those samples with myc > 5000:

remove the treatment column from the dataset using []:

remove samples 7, 8 and 9 from the dataset using []:

keep only samples 1-6 using []:

add a column called pre_treatment to the beginning of the dataframe with the values T, F, F, F, T, T, F, T, F, F, T, T (Hint: use cbind()):

change the names of the columns to: “A”, “B”, “C”, “D”:

In [40]:
#return only the treatment and sex columns using []
print(meta[,c(3,1)])

         treatment sex
sample1          A   M
sample2          A   F
sample3          A   M
sample4          A   F
sample5          B   M
sample6          B   F
sample7          B   M
sample8          B   F
sample9          P   M
sample10         P   F
sample11         P   M
sample12         P   F

In [41]:
#return the treatment values for samples 5, 7, 9, and 10 using []
print(meta[c(5,7,9,10),c(3)])

[1] B B P P
Levels: A B P

In [50]:
#use filter() to return all data for those samples receiving treatment P
install.packages("dplyr")                                    
library("dplyr") 
filter(meta, treatment == "P")

also installing the dependencies ‘ellipsis’, ‘pillar’, ‘glue’, ‘lifecycle’, ‘rlang’, ‘tibble’, ‘tidyselect’, ‘vctrs’

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

         sex stage treatment myc
sample9  M   II    P         8674
sample10 F   I     P         3424
sample11 M   II    P          463
sample12 F   II    P         5105

In [60]:
#use filter()/select()to return only the stage and treatment columns for those samples with myc > 5000
select(filter(meta, myc > 5000), 2:3

ERROR: Error in parse(text = x, srcfile = src): <text>:3:0: unexpected end of input
1: #use filter()/select()to return only the stage and treatment columns for those samples with myc > 5000
2: select(filter(meta, myc > 5000), 2:3
  ^

In [66]:
#remove the treatment column from the dataset using []
meta[3]<-NULL

In [67]:
meta

         sex stage myc
sample1  M   I     2343
sample2  F   II     457
sample3  M   II    4593
sample4  F   I     9035
sample5  M   II    3450
sample6  F   II    3524
sample7  M   I      958
sample8  F   II    1053
sample9  M   II    8674
sample10 F   I     3424
sample11 M   II     463
sample12 F   II    5105

In [70]:
#remove samples 7, 8 and 9 from the dataset using []
meta[-c(7,8,9),]

         sex stage myc
sample1  M   I     2343
sample2  F   II     457
sample3  M   II    4593
sample4  F   I     9035
sample5  M   II    3450
sample6  F   II    3524
sample10 F   I     3424
sample11 M   II     463
sample12 F   II    5105

In [71]:
#keep only samples 1-6 using []
meta[1:6,]

        sex stage myc
sample1 M   I     2343
sample2 F   II     457
sample3 M   II    4593
sample4 F   I     9035
sample5 M   II    3450
sample6 F   II    3524

In [76]:
#add a column called pre_treatment to the beginning of the dataframe with the values T, F, F, F, T, T, F, T, F, F, T, T (Hint: use cbind()
pre_treatment = c("T", "F", "F", "F", "T", "T", "F", "T", "F", "F", "T", "T")
meta <- cbind(pre_treatment, meta)
meta

         pre_treatment sex stage treatment myc
sample1  T             M   I     A         2343
sample2  F             F   II    A          457
sample3  F             M   II    A         4593
sample4  F             F   I     A         9035
sample5  T             M   II    B         3450
sample6  T             F   II    B         3524
sample7  F             M   I     B          958
sample8  T             F   II    B         1053
sample9  F             M   II    P         8674
sample10 F             F   I     P         3424
sample11 T             M   II    P          463
sample12 T             F   II    P         5105

In [80]:
#change the names of the columns to: “A”, “B”, “C”, “D”
colnames(meta) = c(LETTERS[1:4])
meta

         A B  C D
sample1  M I  A 2343
sample2  F II A  457
sample3  M II A 4593
sample4  F I  A 9035
sample5  M II B 3450
sample6  F II B 3524
sample7  M I  B  958
sample8  F II B 1053
sample9  M II P 8674
sample10 F I  P 3424
sample11 M II P  463
sample12 F II P 5105